<!DOCTYPE html>
<html>
  <head>
    <title>功能测试报告</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" >
    <style type="text/css">
      <%= styles %>
    </style>
    <meta charset="UTF-8">
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">天弘基金功能测试报告</a>
        </div>
      </div>
    </div>

    <table class="table table-hover" id="reportTable">
      <thead>
        <tr>
          <th>设备型号</th>
          <th>系统版本</th>
          <th>场景统计</th>
          <th>成功率</th>
          <th>执行时间</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(reports, function(report, reportIndex) { %>
            <% if(report.isFailed) { %>
              <tr class='danger' id= 'clickable-row' data-href=<%= report.origReportPath %>>
            <% } else  { %>
              <tr class='success' id= 'clickable-row' data-href=<%= report.origReportPath %>>
            <% } %>
              <td><%= report.device %></td>
              <td><%= report.system %></td>
              <td><%= report.totalScenarios %>个场景（<%= report.passed %>成功，<%= report.failed%>失败）</td>
              <td><%= report.successRate %> %</td>
              <td><%= report.time %></td>
            </tr>
      <% }); %>
      </tbody>
    </table>
    <!--<footer class="footer">-->
      <!--<div class="footer-text">-->
        <!--<p class="text-muted"> Report generated by cucumber-html-reporter</p>-->
      <!--</div>-->
    <!--</footer>-->

    <div class="navbar-fixed-bottom row-fluid footer-div ">
      <div class="navbar-inner">
        <div class="footer-container">
          <!-- <a  target="_blank" href="https://www.npmjs.com/package/cucumber-html-reporter">
            <div class="text-muted footer-link">
              generated by @cucumber-html-reporter
            </div>
          </a> -->
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

    $(document).ready(function() {
      clickableRow = "tr[id^='clickable-row']";

      $(clickableRow).click(function() {
          alert($(this).data("href"));
          window.document.location = $(this).data("href");
      });
    });
    </script>
  </body>
</html>
